:root {
  --color-primary: #45AAF2;
  --color-secondary: #FA8231;
  --color-tertiary: #26DE81;
}

body, html, #root {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  width: 100%;
}

.bg-primary {
  background-color: var(--color-primary);
}

.text-primary {
  color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.text-secondary {
  color: var(--color-secondary);
}

.z-10 {
  z-index: 10;
}

.bg-tertiary {
  background-color: var(--color-tertiary);
}

.text-tertiary {
  color: var(--color-tertiary);
}

.transition {
  transition: 200ms;
}

.row-gap-6 {
  row-gap: 1.5rem;
}

.grid {
  display: grid;
}